.list-group li {
    list-style: none;
}
.panel-info, .panel-rating, .panel-more1 {
    float: left;
    margin: 0 10px;
}

#car-search {
    margin-bottom: 15px;
}

/* modified */
#header {
    background:#7AC840 !important;
    display:none;
}
#header img {
    width:100% !important;
}
.navbar {
    display:none !important;
}
.row {
    text-align:center !important;
}
.col-xs-2,
.col-xs-1 {
    width:65% !important;
}
.form-horizontal {
    margin-top:20px !important;
}
.form-horizontal label {
    width:35% !important;
}
.form-horizontal .btn-primary,
.paysuccess .btn-primary:active,
.paysuccess .btn-primary,
.paysuccess .btn-primary {
    background:#7AC840 !important;
    border:1px solid #e7e7e7 !important;
    box-shadow:0 1px 4px 0 rgba(0,0,0,0.1) !important;
    font-size:16px !important;
    padding:10px !important;
    width:100% !important;
}
footer {
    background-color:#f8f8f8 !important;
    border:1px solid #e7e7e7 !important;
    height:50px !important;
    margin-top:20px !important;
    padding:15px !important;
}
.paysuccess {
    margin:50px auto !important;
    text-align:center !important;
}

#menulist {
    background:#fff;
    border:1px solid #7ac840;
    border-radius:4px;
    font-size:12px;
    margin:10px;
    overflow:hidden;
    padding:5px;
    position:absolute;
    right:0;
    width:140px;
}
#menulist span {
    color:#7ac840;
    cursor:pointer;
    float:right;
}
#menulist ul {
    border-top:1px solid #7ac840;
    list-style:none;
    margin:5px -5px;
    padding:0;
    position:absolute;
    width:100%;
}
#menulist li {
    cursor:pointer;
}
#menulist li a {
    text-decoration:none;
}
#menulist p {
    color:#333;
    font-size:12px;
    line-height:1.5em;
    margin:0;
    padding:5px;
}
#menulist p:hover {
    background:#7ac840;
    color:#fff;
}

#content {
    font-size:14px;
    padding:20px;
}
#content h1 {
    font-size:22px;
}
#content ul {
    list-style:none;
    padding:0;
}
